@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Young+Serif&display=swap");

:root {
	--creamy-1: #EAC696;
	--creamy-2: #EAC696;
	--brown-1: #765827;
	--brown-2: #65451F;
}

body {
  font-family: "Merriweather", serif;
  background: #a4907c;
}

.font-young-serif {
  font-family: "Young Serif", serif;
}

.font-color-white {
  color: var(--white) !important;
}

.font-color-black {
  color: var(--black) !important;
}

.entry-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

button,
input[type="submit"] {
  background-color: var(--earthy-100);
  color: var(--black);
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
}
