{% extends 'base.html' %}

{% block meta %}
<title>Register as {{ role }}</title>
{% endblock meta %}

{% block content %}

<div class="flex justify-center items-center h-screen w-screen flex-col gap-4">
	<h1
		class="font-young-serif font-color-white text-5xl w-fit bg-opacity-25 bg-blur-lg p-8 rounded-lg shadow-lg backdrop-filter backdrop-blur-lg border border-gray-300">
		Fontana
	</h1>

	<form method="POST"
		class="w-[400px] h-[500px] font-color-white bg-blur-lg p-8 rounded-lg shadow-lg backdrop-filter backdrop-blur-lg border border-gray-300 flex flex-col gap-8">
		{% csrf_token %}
		<h2
			class="text-2xl text-center bg-blur-xl p-4 rounded-lg shadow-lg backdrop-filter backdrop-blur-lg border border-gray-300">
			Login</h2>

		<div class="flex flex-col gap-4">
			<input type="text" name="username"
				class="w-full p-2 font-color-white bg-transparent border border-gray-300 shadow-lg rounded-lg focus:outline-none placeholder-[#f1efefb9]"
				placeholder="Username" />

			<input type="password" name="password"
				class="w-full p-2 font-color-white bg-transparent border border-gray-300 shadow-lg rounded-lg focus:outline-none placeholder-[#f1efefb9]"
				placeholder="Password" />
		</div>

		<input type="submit" value="Log In" class="mt-[12px]">

		<div class="text-center mt-auto">
			<p>Belum punya akun? <a href="/auth/register/reader">Buat sekarang.</a></p>
		</div>
	</form>
</div>

<div class="login">

	<h1>Register as {{ role }}</h1>

	<form method="POST">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
			<tr>
				<td></td>
				<td><input type="submit" name="submit" value="Register" /></td>
			</tr>
		</table>
	</form>

	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	<p>Or register as <a href="{{ register_as_another_role_href }}">{{ another_role }}</a></p>
	<p>Already have an account? Let's <a href="{% url 'auths:login' %}">login</a></p>

</div>

{% endblock content %}