{% extends 'main.html' %}
{% block main_content %}
<div class="h-[400px] relative">
    <img id="main-picture" src="{{ event.poster_link }}" alt="event poster image" class="w-full h-[400px]">
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50"></div>
    <div class="flex justify-center absolute bottom-0 left-0 w-full p-4">

        <div class="text-white flex items-center mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5z" />
            </svg>
            {{ event.location }}
        </div>

        <div class="text-white flex items-center mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 2H4a2 2 0 0 0-2 2v18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm0 8H4m0 0h16zm0 0H4m0 0h16zm0 0H4m0 0h16zm0 0H4"/>
            </svg>
            {{ event.event_date }}
        </div>

        <div class="text-white flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l-1 5h2l-1 5-1-5-1-5zm0-7a2 2 0 100-4 2 2 0 000 4z"/>
            </svg>
            Limited Slot
        </div>
    </div>

    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center text-creamy">
        <h1 class="font-young-serif text-5xl drop-shadow-2xl">{{event.event_name}}</h1>
    </div>
</div>

<br/>

<div class="glassmorphism max-w-4xl mx-auto p-8 rounded-lg shadow-md">
    <h1 class="font-young-serif text-brown text-5xl drop-shadow-2xl" style="text-align: center; font-size:larger;">Event Details</h1>
    <br/>
    <p class="text-brown" style="text-align: center;">{{event.description}}</p>
</div>

<br/>

<div class="glassmorphism max-w-4xl mx-auto p-8 rounded-lg shadow-md">
    <div style="display: flex; align-items: center; justify-content: center;">

        <img class="h-[250px]" style="margin-right: 25px;" src="{{ event.book_id.book_cover_link }}" alt="{{ event.poster_link }}">

        <div>
            <h1 class="font-young-serif text-brown text-5xl drop-shadow-2xl" style="text-align: center; font-size:larger;">About {{event.book_id.book_title}}</h1>
            <h1 class="font-young-serif text-brown text-5xl drop-shadow-2xl" style="text-align: center; font-size:larger;">By {{event.book_id.author_id.username}}</h1>
            <div class="text-brown" style="text-align: justify; margin-top: 10px; max-height: 12em; overflow: hidden;">
                <p id="short-description">{{event.book_id.description}}</p>
            </div>
            <button onclick="toggleDescription()" id="read-more-button" class="text-white-creamy cursor-pointer focus:outline-none">Read More</button>
            <div id="full-description" class="hidden">
                <p class="text-brown" style="text-align: justify; margin-top: 10px;">{{event.book_id.description}}</p>
            </div>
        </div>
    </div>
</div>

<div class="glassmorphism max-w-4xl mx-auto p-8 rounded-lg shadow-md mt-4 text-center relative">
    <h2 class="font-young-serif text-brown text-3xl drop-shadow-2xl mb-4">Contact Information & Registration</h2>

    <div class="flex justify-center w-full p-4">

        <div class="text-white flex items-center mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 15h2v-6h-2zm0-8h2v-2h-2z"/>
            </svg>            
            fontana.my.id
        </div>

        <div class="text-white flex items-center mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 5L12 12L20 19M4 19h16a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2z"/>
            </svg>
            fontana@mail.com
        </div>

        <div class="text-white flex items-center mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7l2 2m0 0l5-5m-2 2l-5 5m5 5l-5-5m-2 2L8 9"/>
            </svg>
            +62-812-345-6789
        </div>
    </div>

    <p class="text-brown mb-4 absolute bottom-0 text-center relative" style="text-align: center;">post created at {{event.date}}</p>
</div>

<script>
    function toggleDescription() {
        var shortDescription = document.getElementById("short-description");
        var fullDescription = document.getElementById("full-description");
        var readMoreButton = document.getElementById("read-more-button");

        if (fullDescription.style.display === "none" || !fullDescription.style.display) {
            shortDescription.style.display = "none";
            fullDescription.style.display = "block";
            readMoreButton.innerText = "Read Less";
        } else {
            shortDescription.style.display = "block";
            fullDescription.style.display = "none";
            readMoreButton.innerText = "Read More";
        }
    }
</script>


{% endblock main_content %}
