{% extends 'main.html' %}
{% load static %}
{% block main_content %}

<style>
    .container {
        margin-top: 40px;
    }
    .add-event-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
</style>

<div class="h-[400px]">
    <img id="main-picture" src="{% static 'img/book-event-image.jpg' %}" alt="book event image" class="w-full h-[400px]">
    <div class="bg-black h-[400px] w-full relative bg-opacity-50"></div>
    <div class="h-[400px] w-full relative bg-opacity-50 top-[-400px] flex flex-col justify-center items-center">
        <h1 class="font-young-serif text-creamy text-5xl drop-shadow-2xl">Events</h1>
        <p class="text-creamy">Unleash The Stories; Share and Connect.</p>
    </div>
</div>

<div id="events-container" class="flex flex-col gap-4"></div>

<br />

{% if user.role == 'ADMIN' %}
<a href="{% url 'event:publish_event' %}" class="add-event-button">
    <button class="background-creamy hover:bg-opacity-50 text-white font-bold py-2 px-4 rounded-full">
        +
    </button>
</a>
{% endif %}

{% endblock main_content %}

<!-- JavaScript -->
{% block script %}
<script defer>
    const getAllEvents = async () => {
		const response = await fetch('/event/ajax')
		const events = await response.json()
		return events.events
	}

    const refreshEvents= async () => {
		const eventsContainer = document.querySelector('#events-container')
        const events = await getAllEvents();

		let eventCards = ''
		events.forEach(async (event) => {
			console.log(event);
			eventCards += `
            <div class="container mx-auto">
                <div style="width: 95%; argin-bottom: 10px; margin: 0 auto;" class="mx-auto rounded-full overflow-hidden shadow-lg mb-4 flex p-4 border">
                    <img class="w-16 h-16 object-cover rounded-full" style="margin-left: 10px" src="${event.posterLink}">
                    <div class="flex-1 ml-4">
                        <a href="${event.eventDetailsUrl}" class="font-bold text-xl text-#765827 mb-2 block">${event.eventName}</a>
                        <p class="text-gray-600 flex items-center">
                            <svg class="w-4 h-4 mr-2 fill-current text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M16 2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h1V0h2v2h6V0h2v2h1zM4 8V6h12v2H4zm0 3v2h12v-2H4zm0 3v2h7v-2H4z"/>
                            </svg>
                            ${event.eventDate}
                        </p>
                    </div>
                </div>
            </div>
			`
		})

		eventsContainer.innerHTML = eventCards
	}

	refreshEvents()

</script>
{% endblock script %}