{% extends 'main.html' %}
{% load static %}
{% block main_content %}
<div class="h-[400px]">
	<img id="main-picture" src="{% static 'img/library_bg_2.jpg' %}" alt="library background" class="w-full h-[400px]">
	<div class="bg-black h-[400px] w-full z-10 relative bg-opacity-50"></div>
	<div class="h-[400px] w-full z-10 relative bg-opacity-50 top-[-400px] flex flex-col justify-center items-center">
		<h1 class="font-young-serif text-creamy text-5xl drop-shadow-2xl">Forum</h1>
		<p class="text-creamy">Discuss with people. Talk about books you like.</p>
	</div>
</div>
<div class="mt-[100px] w-[85%] mx-auto max-w-[1000px] flex flex-col gap-4">
	<div>
		<h1 class="font-young-serif text-4xl">Forums</h1>
		<div class="flex gap-1 items-center">
			<p>Let's talk about book. Or</p>
			<a href="{% url 'forum:create_forum' %}" class=" background-brown text-white-creamy p-2 py-1 rounded-xl">Create
				Forum</a>
		</div>
	</div>
	<div>
		{% for forum in forums %}
		<a href="{% url 'forum:display_forum_by_id' forum.forum_id %}" class="block flex gap-4 glassmorphism w-full p-5">
			<img src="{{forum.book_topic.book_cover_link}}" class="h-[300px] rounded-[10px]">
			<div>
				<h2 class="font-young-serif text-2xl">{{ forum.forum_title }}</h2>
				<div class="flex gap-2">
					<p>Created by <span class="text-brown">{{ forum.forum_creator_id }}</span></p>
					<img src="{% static 'icon/dot-single.svg' %}" class="w-[25px]">
					<p>Book {{ forum.book_topic.book_title }}</p>
					<img src="{% static 'icon/dot-single.svg' %}" class="w-[25px]">
					<p>{{ forum.num_comments }} Comments</p>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock main_content %}