{% extends 'main.html' %}
{% block main_content %}
<div class="mt-[100px] w-[85%] max-w-[1200px] mx-auto flex flex-col gap-3">
	<h1 class="font-young-serif text-4xl">Create Form</h1>

	<form method="POST" class="flex flex-col gap-4">
		{% csrf_token %}

		<div class="flex flex-col gap-2">
			<label>Forum title</label>
			<input name="forum_title" type="text" class="glassmorphism w-full p-2 py-1">
		</div>

		<div class="flex flex-col gap-2">
			<label>Book topic</label>
			{{ form.book_topic }}
		</div>

		<div class="flex flex-col gap-2">
			<label>Discussion</label>
			<textarea name="forum_discussion" type="text" class="glassmorphism w-full p-2 py-1"></textarea>
		</div>

		<div>
			<button type="submit" class="background-creamy text-brown px-2 py-1">Create forum</button>
		</div>
	</form>
</div>
{% endblock main_content %}