{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Main Page</title>
{% endblock meta %}

{% block content %}
{% include 'header.html' %}
<main>
	{% block main_content %}
	<div class="h-[400px]">
		<img id="main-picture" src="{% static 'img/library_bg.jpg' %}" alt="library background" class="w-full h-[400px]">
		<div class="bg-black h-[400px] w-full z-10 relative bg-opacity-50"></div>
		<div class="h-[400px] w-full z-10 relative bg-opacity-50 top-[-400px] flex flex-col justify-center items-center">
			<h1 class="font-young-serif text-creamy text-5xl drop-shadow-2xl">Fontana</h1>
			<p class="text-creamy">The only spring you need.</p>
		</div>
	</div>

	<div id="trending-books" class="mt-12 flex flex-col gap-4">
		<h1 class="font-young-serif text-4xl w-[85%] mx-auto">See the top!</h1>
		<div id="top-card-book-container"
			class="flex flex-row gap-6 justify-center overflow-x-scroll overflow-y-hidden pt-16">
			{% for book in top_books %}
			{% endfor %}
		</div>
	</div>

	<div id="explore-the-world" class="w-[85%] mt-8 mx-auto justify-center flex flex-col gap-8">
		<h1 class="font-young-serif text-4xl">Explore the World!</h1>

		<form action="GET" class="flex flex-row gap-2 mx-auto justify-center items-center w-full">
			<input type="text" placeholder="Search book..."
				class="h-fit p-2 w-[50%] max-h-[500px] glassmorphism text-white-creamy">
			<button type="submit">
				<img src="{% static 'icon/search_icon.svg' %}" class="background-creamy w-fit h-fit rounded-full p-2 w-[40px]">
			</button>
		</form>

		<div id="explore-card-book-container" class="flex flex-row flex-wrap gap-6 justify-center">
			{% for book in explore_books %}
			{% endfor %}
		</div>
	</div>
	{% endblock main_content %}
</main>

{% include 'footer.html' %}
{% endblock content %}

{% block script %}
<script defer>
	const fetchBooks = async () => {
		const response = await fetch('/api/book/json')
		const responseJson = await response.json()
		return responseJson
	}

	const topBookComponent = (book) => {
		return `
		<a href="details/${book.id}">
			<div
				style="background-image: url('${book.cover}'); background-repeat: no-repeat; background-size: cover; object-fit: cover;"
				class="rounded-[10px]">
				<div class="top-card-book glassmorphism-full-transparent flex flex-row gap-2 h-[150px] p-2 pl-6">
					<img src="${book.cover}" class="h-[200px] relative top-[-70px]">
					<div class="flex flex-col justify-around">
						<div>
							<h3 class="font-young-serif text-lg text-white-creamy">${book.title}</h3>
							<div class="flex items-center gap-2">
								<p>${book.authorUsername}</p>
								<img src="{% static 'icon/dot-single.svg' %}" class="w-[20px]">
								<div class="flex justify-center items-center">
									<img src="{% static 'icon/rating_star.svg' %}" class="w-[20px]">
									<p>${book.avgRating}/10</p>
								</div>
							</div>
						</div>
						<p>${book.description}</p>
					</div>
				</div>
			</div>
		</a>
		`
	}
	const exploreBookComponent = (book, role) => {
		if (role == 'READER') {
			const imgBookmarked = `<img id="img-bookmark-${book.id}" src="{% static 'icon/bookmarked.svg' %}" class="w-[40px]">`
			const imgNotBookmarked = `<img id="img-bookmark-${book.id}" src="{% static 'icon/not_bookmarked.svg' %}" class="w-[40px]">`

			const buttonAddBookmark = `
			<button id="btn-bookmark-${book.id}" onclick="addBookmark('${book.id}')">
				${imgNotBookmarked}
			</button>
			`

			const buttonDeleteBookmark = `
			<button id="btn-bookmark-${book.id}" onclick="deleteBookmark('${book.bookmarkId}', '${book.id}')">
				${imgBookmarked}
			</button>
			`

			return `
			<div class="flex flex-col">
				<a href="details/${book.id}">
					<div class="explore-card-book flex flex-col gap-2">
						<img src="${book.cover}">

						<div class="max-w-[302px]">
							<h3 class="font-young-serif">${book.title}</h3>

							<div class="flex items-center">
								<p class="text-brown">${book.authorUsername}</p>
							</div>
						</div>
					</div>
				</a>
				<div>
					${book.isBookmarked ? buttonDeleteBookmark : buttonAddBookmark}
				</div>
			</div>
			`
		} else {
			return `
			<div class="flex flex-col">
				<a href="details/${book.id}">
					<div class="explore-card-book flex flex-col gap-2">
						<img src="${book.cover}">

						<div class="max-w-[302px]">
							<h3 class="font-young-serif">${book.title}</h3>

							<div class="flex items-center">
								<p class="text-brown">${book.authorUsername}</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			`
		}
	}

	const addBookmark = async (bookId) => {
		console.log(bookId);
		const buttonBookmark = document.querySelector(`#btn-bookmark-${bookId}`)
		const imgBookmark = document.querySelector(`#img-bookmark-${bookId}`)
		console.log(imgBookmark.src);

		const response = await fetch(`bookmark/add/${bookId}`)

		if (response.ok) {
			const responseJson = await response.json()
			imgBookmark.src = `{% static 'icon/bookmarked.svg' %}`
			// console.log(imgBookmark.src);
			// buttonBookmark.onclick = `deleteBookmark('${responseJson.bookmarkId}', '${bookId}')`
			await refresh()
		}
	}

	const deleteBookmark = async (bookmarkId, bookId) => {
		console.log(bookmarkId, bookId);
		const buttonBookmark = document.querySelector(`#btn-bookmark-${bookId}`)
		const imgBookmark = document.querySelector(`#img-bookmark-${bookId}`)
		console.log(imgBookmark.src);

		const response = await fetch(`bookmark/delete/${bookmarkId}`)

		if (response.ok) {
			imgBookmark.src = `{% static 'icon/not_bookmarked.svg' %}`
			console.log(buttonBookmark.onclick);
			// buttonBookmark.onclick = function (bookId) { addBookmark(bookId) }
			// buttonBookmark.addEventListener('click', (event) => {
			// 	addBookmark(bookId)
			// })
			await refresh()
		}
	}

	const refresh = async () => {
		const responseData = await fetchBooks()
		const role = responseData.role
		const topBooks = responseData.topBooks
		const exploreBooks = responseData.exploreBooks

		const topBooksContainer = document.querySelector('#top-card-book-container')
		const exploreBooksContainer = document.querySelector('#explore-card-book-container')

		let topBooksString = ''
		topBooks.forEach(topBook => {
			topBooksString += topBookComponent(topBook)
		});
		topBooksContainer.innerHTML = topBooksString

		let exploreBooksString = ''
		exploreBooks.forEach(exploreBook => {
			exploreBooksString += exploreBookComponent(exploreBook, role)
		})
		exploreBooksContainer.innerHTML = exploreBooksString

	}

	refresh()
</script>
{% endblock script %}