{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/06223f8e7b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{{ book.book_title }}</title>
    <style>
        body {
            background-image: url('{% static "img/book_emoji.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: 110%;
        }

        .custom-font {
            font-family: 'Young Serif', serif;
        }

        .desc-font {
            font-family: 'Georgia', serif;
        }
    </style>
{% endblock %}

{% block content %}
<body>
    <div class="h-[400px]">
        <img id="main-picture" src="{% static 'img/book_open.jpg' %}" alt="book event image" class="w-full h-[400px]">
        <div class="bg-black h-[400px] w-full z-10 relative bg-opacity-50"></div>
        <div class="h-[400px] w-full z-10 relative bg-opacity-50 top-[-400px] flex flex-col justify-center items-center">
            <h1 class="font-young-serif text-creamy text-5xl drop-shadow-2xl">Details</h1>
            <p class="text-creamy">See more, and what others think.</p>
        </div>
    </div>
    {% include 'header.html' %}
    <main>
        <div class=" glassmorphism p-6 rounded-lg shadow-lg" style="margin-left: 50px; margin-right: 50px; margin-top: 20px" >
            <div class="flex flex-wrap items-start"> {# Use items-start to align content at the top #}
                <div class="w-full md:w-1/3 text-center">
                    <img src="{{ book.book_cover_link }}" alt="{{ book.book_title }} Cover" class="max-w-xs mx-auto rounded-lg shadow-md mt-6">
                    <div class="text-brown mt-2">
                        <span class="rating-stars text-2xl mt-2">
                            <!-- The stars will be rendered here -->
                        </span>
                        <p>{{ book.num_rating }} Ratings</p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 md:pl-2 ml-10">
                    <h1 class="text-4xl font-bold mb-2 mt-10"> {{ book.book_title }}</h1> {# Remove mt-[-10px] #}
                    <p class="text-lg font-semibold mb-3">{{ book.author_id }}</p>

                    <div>
                        <div class="description" style="max-height: 100px; overflow: hidden;">
                            <p><strong>Description:</strong></p>
                            <div class="desc-font text-brown">
                                <p style="font-size: 110%;">{{ book.description }}</p>
                            </div>
                        </div>
                        <a href="#" class="text-grey-500 hover:underline show-more">Show More</a>
                        <i class="fa-sharp fa-solid fa-caret-down"></i>
                    </span>
                    <a href="#" class="text-grey-500 hover:underline show-less" style="display: none;">Show Less</a>
                    <p style="margin-top: 10px;"><strong>Genres:</strong> {{ book.genres|join:', ' }}</p>
                </div>
            </div>
        </div>

        
        <div class="mt-20 glassmorphism p-6 rounded-lg shadow-lg relative" style="margin-left: 30px; margin-right: 30px; margin-bottom: 30px" >
            <h1 class="custom-font text-2xl font-semibold text-brown mb-4 inline-block">Reviews:</h1>
            {% if user.is_authenticated and user.is_reader %}
                <a href="{% url 'review:create_review' book.book_id %}" class=" font-young-serif glass-button absolute top-0 right-0 mt-2 mr-6">Add Review</a>
            {% endif %}
            <div id="reviews-container" class="glassmorphism">
                <!-- Reviews will be loaded here -->
            </div>
        </div>
    </main>

    <script>
        async function getReviews() {
            return fetch("{% url 'review:get_review_json' book.book_id %}").then((res) => res.json());
        }

        async function deleteReview(reviewId) {
            fetch(`/details/delete_review/${reviewId}`, {
                method: 'DELETE',
            })
            .then(response => {
                if (response.ok) {
                    refreshReviews(); // Refresh the reviews to reflect the deletion
                } else {
                    console.error('Failed to delete review');
                }
            });
        }

        async function refreshReviews() {
            const reviewsContainer = document.querySelector('#reviews-container');
            reviewsContainer.innerHTML = ''; // Clear the container

            const reviews = await getReviews();
            if (reviews.length === 0) {
                const noReviewsMessage = document.createElement('div');
                noReviewsMessage.classList.add('p-4', 'text-center', 'text-brown', 'font-young-serif');
                noReviewsMessage.innerText = 'There are no reviews for this book yet';
                reviewsContainer.appendChild(noReviewsMessage);
            } else {
                reviews.forEach(async (review) => {
                    const userFetch = await fetch(`/auth/user/${review.fields.user_id}`);
                    const userReal = await userFetch.json();
                    const userSingle = userReal[0];
                    var userCurrentPK = parseInt("{{ userCurrent.pk }}");
                    var userSinglePK = parseInt(userSingle.pk);

                    const reviewContainer = document.createElement('div');
                    reviewContainer.classList.add('p-4', 'border-b', 'relative'); // Ensure this is relative
                    reviewContainer.style.borderColor = '#66461f94';

                    const reviewHeader = document.createElement('div');
                    reviewHeader.classList.add('flex', 'flex-row', 'items-start', 'mb-2', 'relative'); // Ensure this is relative

                    const reviewTitle = document.createElement('h3');
                    reviewTitle.classList.add('text-xl', 'font-semibold', 'text-brown');
                    reviewTitle.innerText = `${userSingle.fields.username}: `;

                    const reviewRating = document.createElement('span');
                    reviewRating.classList.add('rating-stars', 'text-2xl', 'text-brown', 'ml-2');
                    renderStars(review.fields.review_rating, reviewRating); // Render stars for this review
                    
                    if (userCurrentPK === userSinglePK) {
                        const deleteButton = document.createElement('button');
                        deleteButton.classList.add('small-button', 'delete-button', 'absolute', 'top-0', 'right-0', 'mt-0', 'mr-2'); // Position button
                        
                        const icon = document.createElement('i');
                        //icon.classList.add('fas', 'fa-times'); // For a cross icon
                        icon.classList.add('fas', 'fa-trash', 'text-brown'); // Alternatively, for a trash icon
                        
                        deleteButton.appendChild(icon);
                        
                        deleteButton.addEventListener('click', function () {
                            deleteReview(review.pk);
                        });
                        reviewHeader.appendChild(deleteButton); // Append button to reviewHeader
                    }

                    reviewHeader.appendChild(reviewTitle);
                    reviewHeader.appendChild(reviewRating);
                    reviewContainer.appendChild(reviewHeader);

                    const reviewContent = document.createElement('p');
                    reviewContent.classList.add('text-brown', 'desc-font');
                    reviewContent.style.maxHeight = '200px';
                    reviewContent.style.overflow = 'auto';
                    reviewContent.style.fontSize = '110%';
                    reviewContent.innerText = review.fields.review_text;

                    reviewContainer.appendChild(reviewHeader);
                    reviewContainer.appendChild(reviewContent);

                    reviewsContainer.appendChild(reviewContainer);
                });
            }
        }

        refreshReviews();

        function renderStars(rating, container) {
            container.innerHTML = ''; // Clear the container

            for (let i = 1; i <= 5; i++) {
                const starIcon = document.createElement('i');
                if (i <= rating) {
                    starIcon.classList.add('fas', 'fa-star', 'text-yellow-500');
                } else if (i - 0.5 <= rating) {
                    starIcon.classList.add('fas', 'fa-star-half-alt', 'text-yellow-500');
                } else {
                    starIcon.classList.add('far', 'fa-star', 'text-gray-300');
                }
                container.appendChild(starIcon);
            }
        }

        const bookRatingContainer = document.querySelector('.rating-stars');
        renderStars({{ book.avg_rating }}, bookRatingContainer);


        // Show/Hide description with "Show More" and "Show Less" links
        const description = document.querySelector('.description');
        const showMoreLink = document.querySelector('.show-more');
        const showLessLink = document.querySelector('.show-less');

        showMoreLink.addEventListener('click', function (e) {
            e.preventDefault();
            description.style.maxHeight = 'none';
            showMoreLink.style.display = 'none';
            showLessLink.style.display = 'inline';
        });

        showLessLink.addEventListener('click', function (e) {
            e.preventDefault();
            description.style.maxHeight = '100px';
            showLessLink.style.display = 'none';
            showMoreLink.style.display = 'inline';
        });

        // Initial check to show "Show More" if description overflows
        if (description.scrollHeight > 100) {
            showMoreLink.style.display = 'inline';
        }
    </script>
    {% include 'footer.html' %}
</body>
{% endblock %}
