{% extends 'base.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Publish Book</title>
{% endblock meta %}

{% block content %}
{% include 'header.html' %}
<section>
		
	<div class="h-[400px]">
		<img id="main-picture" src="{% static 'img/fountain_pen_bg.jpg' %}" alt="fountain pen background" class="w-full h-[400px]">
		<div class="bg-black h-[400px] w-full z-10 relative bg-opacity-50"></div>
		<div class="h-[400px] w-full z-10 relative bg-opacity-50 top-[-400px] flex flex-col justify-center items-center">
			<h1 class="font-young-serif text-creamy text-5xl drop-shadow-2xl">Publish Your Book</h1>
			<span class="text-creamy">Share your story</span>
		</div>
	</div>

</section>

<section>
	
	<div class="flex justify-center items-center h-screen w-screen flex-col">

		<form id="form" method="POST">

			<div class="glassmorphism shadow-2xl container mx-auto my-4 px-[-5px] z-0 relative">
				<img src="{% static 'img/books_vector.png' %}" alt="Book Illustration" class="absolute bottom-[-120px] right-[-160px] max-w-1/4 z-10">
				
				{% csrf_token %}
				<div class="w-full p-8 my-4 md:px-12 lg:w-9/12 lg:pl-20 lg:pr-40 mr-auto rounded-2xl">
					<div>
						<h2 class="font-bold uppercase text-5xl mt-2 whitespace-nowrap">First Things First..</h2>
					</div>

					<div class="text-lg h-20" id="text-animation">
						<div id="line1" class="mt-4"></div>
						<div id="line2" class="mb-2"></div>
					</div>
					
					<div class="container">
						<div class="grid grid-cols-1 w-[500px]">
							<label for="book_title" class="block font-bold">Book Title*</label>
							<input id="book_title" name="book_title" class="w-full glassmorphism text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
							type="text" placeholder="Insert your book title" />
	
							<label for="Description" class="block font-bold mt-5">Description*</label>
							<textarea id="description" name="description" class="w-full h-32 glassmorphism text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" placeholder="Give a brief description of your story"></textarea>
							
							<label for="book_cover_link" class="block font-bold mt-5">Book Cover Link*</label>
							<input id="book_cover_link" name="book_cover_link" class="w-full glassmorphism text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
							type="url" placeholder="Insert your book cover link (URL)" />
							
							<label for="book_cover_file" class="block font-bold mt-5">Book Cover File (optional)</label>
							<input id="book_cover_file" name="book_cover_file" class="w-full glassmorphism text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
							type="file" />
						</div>
					</div>

					<div class="mt-5 my-2 w-1/2 lg:w-1/4">
						<button onclick=onSubmit() class="uppercase text-sm font-bold tracking-wide bg-[#65451f] text-gray-100 p-3 rounded-lg w-full hover:bg-[#765827]">
							Publish
						</button>
					</div>

				</div>

			</div>
			
		</form>

	</div>

</section>

<script>
	async function onSubmit() {
		await fetch("{% url 'publish:publish_book' %}", {
			method: "POST",
			body: new BookForm(document.querySelector('#form'))
		})
	}

	const line1Element = document.getElementById('line1');
    const line2Element = document.getElementById('line2');
    const textToType1 = 'Welcome to Fontana';
    const textToType2 = 'Start your journey here!';
    
    function typeText(textElement, text) {
      let index = 0;
      function type() {
        if (index < text.length) {
          textElement.textContent += text[index];
          index++;
          setTimeout(type, 100); // Adjust the time interval as needed
        }
      }
      type();
    }
    
    typeText(line1Element, textToType1);
    
    // After a delay, start typing the second line of text
    setTimeout(() => {
      typeText(line2Element, textToType2);
    }, textToType1.length * 100); // Wait until the first line is finished typing
</script>

{% include 'footer.html' %}
{% endblock content %}